@import './../../styles';

.product_page {
  @include pageGrid;
  &_title {
    @include typographyH2;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
  &__page_info_wrapper {    
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media (min-width: 640px) {
      margin-bottom: 40px;
    }
  }

  &__current_location_wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 24px;

    @media (min-width: 640px) {
      margin-bottom: 40px;
    }
  }

  &__icon_home {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../../components/Icon/icons/icon-home.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__icon_right_arrow {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../../components/Icon/icons/icon-chevron-arrow-right--secondary-grey.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__location_page_name {
    color: $secondary-color;
    font-family: "Mont";
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin-top: 3px;
  }
}

.fw {
  grid-column-start: 1;
  grid-column-end: 5;

  @include onTablet {
    grid-column-start: 1;
    grid-column-end: 13;
    }

  @include onDesktop {
    grid-column-start: 1;
    grid-column-end: 25;
    }
}

.mw {
  grid-column-start: 1;
  grid-column-end: 5;

  @include onTablet {
    grid-column-start: 1;
    grid-column-end: 13;
    }

  @include onDesktop {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  &_r {
    @include onDesktop {
      grid-column-start: 14;
      grid-column-end: 25;
    }
  }
}

.hw_l {
  grid-column-start: 1;
  grid-column-end: 5;

  @include onTablet {
    grid-column-start: 1;
    grid-column-end: 8;
  }

  @include onDesktop {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.hw_r {
  grid-column-start: 1;
  grid-column-end: 5;

  @include onTablet {
    grid-column-start: 8;
    grid-column-end: 13;
  }

  @include onDesktop {
    grid-column-start: 14;
    grid-column-end: 25;
  }
}

.photosContainer {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }
}



.about {
  font-family: Mont;
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }


  &_header {
    border-bottom: 1px solid rgb(230, 227, 223);
    margin-bottom: 32px;
    font-weight: 800;
  }

  &_name {
    margin-bottom: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &_value {
    color: #89939A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }

  &_section:not(:last-child) {
    margin-bottom: 32px;
  }
}

.tech {
  font-family: Mont;
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &_name {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: #89939A;
  }

  &_value {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }

  &_header {
    border-bottom: 1px solid rgb(230, 227, 223);
    margin-bottom: 25px;
  }

  &_section {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

  }
}

.recommended {
  grid-column: 1/-1;
}

.loading {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80vh;
  padding: 31px;
  background-color: $gray-white;
  grid-column: 1/-1;
}