@import './../../styles';

.product_page {
  @include pageGrid;
}

.fw {
  grid-column: span 4;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: span 24;
  }
}

.hw {
  grid-column: span 4;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: span 12;
  }
}
