@import './../../../../styles';

.photosMainGrid {
  grid-column: span 1;

  @include onTablet {
    grid-column-start: 3;
    grid-column-end: 16;
  }

  @include onDesktop {
    grid-column-start: 6;
    grid-column-end: 26;
  }
}

.photosMainProductsSlider {
    margin-right: 0px;
    margin-bottom: 16px;

    @include onTablet {
      width: auto;
    }

    @include onDesktop {
      width: auto;
    }

  .photosSwiperSlide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    .photosSwiperImage {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
    }    
  }
}

.photosGaleryGrid {
  grid-column: span 1;
  grid-row-start: 1;
  grid-row-end: 2;
  width: auto;
  display: flex;
  justify-content: space-around;

  @include onTablet {
    grid-column-start: 1;
    grid-column-end: 3;  
  }

  @include onDesktop {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}

.photosGaleryProducts {
  max-height: fit-content;
  .photosGalerySlide{
    cursor: pointer;
    border: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    width: 50px !important;  

    @include onTablet {
      max-width: 60px !important;
      max-height: 60px !important;
    }

    @include onDesktop {
      height: 80px !important;
      width: 80px !important;  
    }


    &:last-child {
      padding-right: 0px;
  
      @include onTablet {
        padding-right: 0px;
      }
  
      @include onDesktop {
        padding-right: 0px;
      }
    }

    .photosGaleryProductsWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;

      .photosGaleryImage {
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.photosSwiperContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;

  @include onTablet {
    @include pageGrid;
    column-gap: 0px;
    align-items: center;
  }
}