@import '../../styles/normalize';
@import '../../styles/variables/colors';
@import '../../styles/mixins/responsive';
@import '../../styles/mixins/typography';
@import '../../styles/mixins/grid';

.favorites {
  display:flex;
  flex-direction: column;
  margin-left: 16px;
  padding-top: 25px; 
  padding-bottom: 56px;

  @media (min-width: 640px) {
    padding-bottom: 80px;
  }

  &__page_info_wrapper {    
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    @media (min-width: 640px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    @include typographyH1;
    margin-bottom: 8px;
  }

  &__favorites_counter {
    @include typographySmallText;
    color: $secondary-color;  
  }

  &__products_container {
    @include catalogGrid;
    margin-bottom: 40px;
  }
}
