@import './../../styles';

.button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: $primary-color;

  @include typographyButtons;
  color: $gray-white;

  @include hover(box-shadow, 0px 3px 13px 0px #17203133);

  &--selected {
    color: $selected-button;
    background-color: $gray-white;
    border: 1px solid $elements-color;
  }

  &:disabled {
    background-color: $elements-color;
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }
}
