@import './../../styles';
.catalog__sort {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  &--label {
    @include typographySmallText;
    color: $secondary-color;
  }

  &--by {
    width: 136px;

    @include onTablet {
      width: 187px;
    }

    @include onDesktop {
      width: 176px;
    }
  }

  &--limit {
    width: 136px;

    @include onDesktop {
      width: 128px;
    }
  }
}

.react-select-container {
  font-family: 'MontSemiBold';
}