@import './../../styles';


.catalog {
  padding-top: 25px;
  padding-bottom: 64px;

  @include onTablet() {
    padding-bottom: 80px;
  }


  &__header {
    @include typographyH1;
    color: $primary-color;
  }
  &__count {
    @include typographyBodyText;
    color: $secondary-color;
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  &__container {
    @include catalogGrid;
    // justify-content: center;
    row-gap: 40px;
    margin-bottom: 40px;
  }

  &__pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}