@import './../../styles';


.catalog {
  padding-top: 25px;
  padding-bottom: 64px;
  
  &__header {
    @include typographyH1;
    color: $primary-color;
  }
  &__count {
    @include typographyBodyText;
    color: $secondary-color;
    margin-bottom: 40px;
  }
  
  &__container {
    @include pageGrid;
    justify-content: center;
    row-gap: 40px;
    margin-bottom: 40px;
  }

  &__pagination-container {
    display: flex;
    justify-content: center;
  }

}