@import './../../../styles';
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  
  &__text{
    max-width: 288px;
    text-align: center;
    @include typographyH3;
    color:$secondary-color;
  }
}