.icon {
  width: 16px;
  height: 16px;
  display: block;

  &--menu {
    background-image: url('./icons/icon-burger-menu.svg');
  }

  &--close {
    background-image: url('./icons/icon-close.svg');
  }

  &--heart {
    background-image: url('./icons/icon-heart.svg');
  }

  &--cart {
    background-image: url('./icons/icon-cart.svg');
  }

  &--arrow_up {
    background-image: url('./icons/icon-arrow-up.svg');
  }
}
