@import './../../styles';

.products_slider {
  @include pageGrid;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    grid-column: 1/-1;
  }

  &__title {
    color: $primary-color;
    @include typographyH2
  }
}
