$primary-color: #313237;  // gray-primary
$secondary-color: #89939A; // gray-secondary
$icons-placeholders: #B4BDC3; //gray-icons-placeholders
$elements-color: #E2E6E9; // gray-elements
$hover-background: #FAFBFC; // gray-background
$gray-white: #FFF; // just white
$selected-button:#27AE60; //green-selected-button
$heart-color: #EB5757; // red
