$min-width-tablet: 640px;
$min-width-desktop: 1200px;

$mobile-inline-padding: 16px;
$tablet-inline-padding: 24px;
$pc-inline-padding: 32px;

$header-height-mobile: 48px;
$header-height-desktop: 64px;
