@import '../../mixins/typography.scss';
@import '../../mixins/mixinLayout.scss';
@import '../../variables.scss/colors.scss';

.cartItem {
  display: flex;
  // min-width: 100%;
  padding: 16px;
  // width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  justify-content: space-between;

  grid-column: span 4;

  border: 1px solid var(--Gray-Elements, #E2E6E9);
  background: #FFF;

  color: $primary-color;

  @include onTablet {
    flex-direction: row;
    // width: 592px;
    padding: 24px;
    // justify-content: center;
    align-items: center;
    gap: 24px;
  }

  @include onDesktop {
    width: 752px;
  }

  &FirstRow {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    @include onTablet {
      gap: 24px;
    }

    @include onDesktop {
      gap: 24px;
    }

    &DeleteItemButton {
      width: 16px;
      height: 16px;

      cursor: pointer;
    }

    &Image {
      width: 80px;
      height: 80px;
      // @include onTablet {

      // }
    }

    &Title {
      @include typograhyBodyText;
    }
  }

  &SecondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    @include onTablet {
      gap: 24px;
    }

    &QuantityWrapper {
      display: flex;
      // flex-direction: row;
      width: 96px;

      &Button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        border: 1px solid $icons-placeholders;
        // flex-shrink: 0;

        cursor: pointer;

        :disabled {
          // border: 1px solid $elements-color;
          border: 3px solid green($color: #000000);
        }
      }

      &QuantityText {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;

        @include typograhyBodyText
      }
    }

    &PriceWrapper {
      @include onTablet {
        display: flex;
        width: 80px;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
      }


      &Price {
        @include typograhyH3;

        color: $primary-color;
      }
    }
  }
}