@import './../../../styles';
.loader {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;

  &__content {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 1em auto;
    border: 0.3em solid #ddd;
    border-left-color: #000;
    animation: loader 1.2s infinite linear;
    color: blue
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .loader__new {
//   width: 50px;
//   padding: 8px;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   background: #25b09b;
//   --_m: 
//     conic-gradient(#0000 10%,#000),
//     linear-gradient(#000 0 0) content-box;
//   -webkit-mask: var(--_m);
//           mask: var(--_m);
//   -webkit-mask-composite: source-out;
//           mask-composite: subtract;
//   animation: l3 1s infinite linear;
// }
// @keyframes l3 {to{transform: rotate(1turn)}}