@import './styles';

.app {
  &__main {
    box-sizing: border-box;
    padding-top: $header-height-mobile;
    min-height: 100vh;

    @include onDesktop {
      padding-top: $header-height-desktop;
    }
  }
}