@font-face {
  font-family: 'MontBold';
  src: url('../public/fonts/Mont-Bold.otf');
}

@font-face {
  font-family: 'MontSemiBold';
  src: url('../public/fonts/Mont-SemiBold.otf');
}

@font-face {
  font-family: 'MontRegular';
  src: url('../public/fonts/Mont-Regular.otf');
}

@import './styles//normalize';
