@import '../../styles/';
// @import '../../styles/mixins/typography';

.title {
  @include typographyH1;
}

.Container {
  position: relative;
  display: flex;
  grid-column: span 4;

  // margin-top: 50px;
  padding: 24px;
  flex-direction: column;
  align-items: center;

  border: 1px solid $elements-color;
  height: fit-content;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: 17/24;
  }

  &TextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    &Value {
      @include typographyH2;
      color: $primary-color;
    }

    &Info {
      @include typographyBodyText;
      color: $secondary-color;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $elements-color;

      margin-top: 16px;
    }
  }



  &Button {
    display: flex;
    height: 48px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    background-color: $primary-color;
    color: $gray-white;
    cursor: pointer;

    @include typographyBodyText;
    &:disabled {
      background-color: $elements-color;
      cursor: not-allowed;
    }
  }
}