@import '../../mixins/typography.scss';
$primary-color: #313237;  // gray-primary
$secondary-color: #89939A; // gray-secondary
$elements-color: #E2E6E9; // gray-elements
$icons-placeholders: #B4BDC3; //gray-icons-placeholders
$selected-button:#27AE60; //green-selected-button
$card-width: 208px;

@font-face {
  font-family: 'MontBold';
  src: url('../../../public/fonts/Mont-Bold.otf');
}

@font-face {
  font-family: 'Mont';
  src: url('../../../public/fonts/Mont-Regular.otf');
}

@font-face {
  font-family: 'Mont-SemiBold';
  src: url('../../../public/fonts/Mont-SemiBold.otf');
}

button {
  all: initial;
}

input {
  all: initial;
}

.card {
  display: flex;
  width: $card-width;
  height: 442px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #FFF;
  border: 1px solid $elements-color;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.18);
  }

  &__image_wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    width: $card-width;
    height: 196px;
    margin-bottom: 24px;
  }

  &__product_image {
    height: 190px;
  }

  &__product_name {
    color: $primary-color;
    font-weight: 600;
    @include typograhyBodyText;
    margin: 0;
    margin-bottom: 8px;
  }

  &__price {
    color: $primary-color;
    margin: 0;
    @include typographyH2;
    font-weight: 800;
  }

  &__old_price {
    margin: 0;
    color: $secondary-color;
    text-decoration-line: line-through;
    font-family: 'Mont';
    font-size: 22px;
    font-weight: 300;
    margin-left: 8px;

    @media (min-width: 640px) {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
    }
  }

  &__price_wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
  }

  &__break_line {
    border: 1px solid $elements-color;
    width: $card-width;
    margin: 0 0 8px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: $card-width;
    height: 76px;
    margin-bottom: 8px;
  }

  &__option_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__option {
    color: $secondary-color;
    font-family: 'Mont';
    font-size: 12px;
    font-weight: 700;
    margin: 0;
  }

  &__option_value {
    color: $primary-color;
    font-family: 'Mont-SemiBold';
    font-size: 12px;
    font-weight: 700;
    margin: 0;
  }

  &__buttons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $card-width;
  }

  &__button_add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    color: White;
    background-color: $primary-color;
    font-family: 'Mont-Semibold';
    font-weight: 700;
    transition: border-radius 0.5s ease;

    &:hover {
      box-shadow: 0px 3px 13px 0px #17203133;
      border-radius: 8px;
    }
  }

  &__button_add_done {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    color: $selected-button;
    border: 1px solid $elements-color;
    font-family: 'Mont-Semibold';
    font-weight: 700;
    transition: border-radius 0.5s ease;

    &:hover {
      box-shadow: 0px 3px 13px 0px #17203133;
      border-radius: 8px;
    }
  }

  &__checkbox_favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid $icons-placeholders;

    &:hover {
      border: 1px solid $primary-color;
    }
  }

  &__checkbox {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../icons/heart-black-boudaries-16x16.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
  }
  
  &__checkbox_selected {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../icons/heart-red-16x16.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }  
}